/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  body {
    width: 100%;
  }

  .row,
  .navbar {
    flex-direction: column;
  }
}