text.MILITARY-TITLE {
  fill: black;
  font-size: large;
  font-weight: 800;
}

rect[class ^= "US-MILITARY-LEVEL-"],
rect[class ^= "CN-MILITARY-LEVEL-"] {
  width: 40px;
  height: 20px;
  fill:sandybrown;
}

text[class ^= "MILITARY-LEVEL-LABEL"] {
  fill: black;
  font-size: x-large;
  font-weight: 800;
}

rect[class ^= "US-MILITARY-LEVEL"].toggle-on {
  fill: blue;
}
rect[class ^= "CN-MILITARY-LEVEL"].toggle-on {
  fill: red;
}