g.Africa {
  fill: burlywood;
}
/* empty zone*/
g.Antarctica {
  fill: white;
}

g.Asia {
  fill: chocolate;
}

g.Europe {
  fill: thistle;
}

g.MiddleEast {
  fill: gray;
}

g.NorthAmerica {
  fill: bisque;
}

g.Oceania {
  fill: olivedrab;
}

g.SouthAmerica {
  fill: #b09874;
}

g.usa {
  fill: rgba(0, 0, 255, 0.80);
}

g.russia {
  fill: rgb(190, 150, 0, 0.9);
}

g.china {
  fill: rgba(139, 0, 0, 1);
}