g[class ^= 'score-box-'] {
  transform: scale(0.8);
}

g[class ^= 'score-box-'] > rect {
  stroke-width: 2;
  stroke: rgb(0,0,0);
}

g[class ^= 'score-box-'] > rect.background {
  width: 50;
  height: 60;
}
g[class ^= 'score-box-'] > rect.main-text {
  width: 50;
  height: 40;
  fill: white;
}

g[class ^= 'score-box-'] > text {
  font: 900 0.4rem arial;
  fill: black;
}