/**
 * Genereal Setting
**/
div.hide {/* generate part title */
  background-image: linear-gradient(90deg,#2156c0,#3787e2);
}
div.hide + * {/* inputs */
  display: none;
}
div.hide + * + * {/* generate img button */
  display: none;
}
.container-title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 2px 2px 0 0;
  border: 1px solid black;
  background: linear-gradient(90deg, #460073, #7500c0, #be82ff, #dcafff);
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

.read-first-memo {
  font-size: 12px;
  color: var(--cover-top-time-background-color);
  text-align: center;
  margin: 0.5rem;
}
.read-first-memo-append {
  font-size: 12px;
  color: crimson;
  text-align: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}
#input-page label[class $= "holder"] {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
#input-page label[class $= "holder"]:not(.flex-column) {
  align-items: center;
}
#input-page label[class $= "holder"] > .flex-row {
  margin-top: 0.5rem;
  align-items: center;
}
#input-page label[class $= "holder"] > input[type="text"] {
  min-height: 1.5rem;
}
.generate-button-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

#rail-train-route-select {
  min-height: 2rem;
  margin: 0.75rem 0 0.25rem 0;
}
#rail-train-route-select ~ input{
  min-height: 2rem;
  margin: 1rem 0 0.25rem 0.25rem;
  display: none;
}
select#rail-train-route-select[data-chosen="1"] + input {
  display: inline-block;
}
select#rail-train-route-select[data-chosen="2"] + input + input {
  display: inline-block;
}
select#rail-train-route-select[data-chosen="12"] + input + input + input {
  display: inline-block;
}

