.search-condition-container {
  width: 100%;
}
.search-condition-box-container {
  width: 90%;
  margin: 0 auto;
  height: 300px;
  overflow: auto;
}
.search-condition-box-container > * {
  width: 100%;
}
img.checkbox-icon {
  width: 24px;
  height: 24px;
  vertical-align: top;
}
img.checkbox-icon + span {
  vertical-align: sub;
}
[class $= "-selectors-container"] {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.line-group-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.checkbox-wrapper {
  margin: 2px 0;
}
label.checkbox-label {
  font-size: 12px;
}
label.checkbox-label.not-exist {
  color: grey;
  opacity: 0.5;
}

.button-area {
  background: slateblue;
  height: auto;
}
.button-area > .including-check-box {
  display: flex;
  flex-direction: row;
}
.button-area > .including-check-box > .checkbox-wrapper{
  flex: 1;
  text-align: center;
  justify-content: center;
  font-size: 24px;
}
.button-area > .including-check-box > .checkbox-wrapper > label.checkbox-label {
  font-size: 16px;
}
.button-area > .buttons-container {
  display: flex;
  align-items: flex-start;
  vertical-align: middle;
  justify-content: space-between;
}
.button-area > .buttons-container > button {
  min-width: 30%;
  margin: 10px 10%;
}