* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100%;
  min-height: min-content;
  scrollbar-color: plum rgba(252, 221, 221, 1);
}

body {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, 'Franklin Gothic Medium', sans-serif;
}

span {
  min-height: 30px;
  line-height: 28px;
}

high-light {
  color: #0645ad;
  font-weight: bold;
}

html::-webkit-scrollbar {
  width: 20px;
  background: rgba(252, 221, 221, 1);
}

/* Track */
html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2px;
}

/* Handle */
html::-webkit-scrollbar-thumb {
  background: plum;
  border-radius: 2px;
}

/* Handle on hover */
html::-webkit-scrollbar-thumb:hover {
  background: palevioletred;
}

@media (max-width: 750px) {
  body {
    width: 100%;
  }
}