#hybridWar {
  background: blueviolet;
  color: palegoldenrod;
}

#coldWar {
  background: palevioletred;
  color: lightsteelblue;
}

#Colonial {
  background: tan;
  color: dimgrey;
}

#WWII {
  background: lightslategray;
  color:black;
}