.sidebar-button-set {
  padding: 0 5px;
  height: 100px;
}
.sidebar-button-set button{
  width: 120px;
}

.sidebar-red {
  min-width: 120px;
  background: crimson;
  color: black;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: large;
}
.sidebar-blue {
  min-width: 120px;
  background: royalblue;
  color: black;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  font-weight: 600;
  font-size: large;
}

.sidebar-title {
  background: rosybrown;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: larger;
  font-style: oblique;
  text-align: center;
  width: 150px;
  border: 3px solid peachpuff;
}

.sidebar-main-title {
  background: lightgoldenrodyellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  font-size: larger;
  font-style: oblique;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  line-height: 50px;
  height: 50px;
}

.sidebar-button-warpper {
  display: flex;
  width: 250px;
  height: 100px;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

.sidebar-button-container {
  display: flex;
  overflow: auto;
  width: 400px;
  height: 700px;
  flex-wrap: wrap;
}

.search-bar {
  height: 50px;
}

.search-input-box {
  width: 250px;
  height: 35px;
  margin: 5px;
}

.search-button {
  width: 100px;
  height: 40px;
}