* {
  box-sizing: border-box;
}

html {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100%;
  width: 100%;
  min-height: min-content;
  scrollbar-color: plum rgba(252, 221, 221, 1);
  scroll-behavior: smooth;
  justify-content: center;
}

body {
  width: fit-content;
  margin: auto;
}

/* color defined */
body {
  /* purple */
  --lightpurple:  #F7F1FC;
  --purple:       #C794F6;
  --darkpurple:   #A443DF;
  --blueviolet:   #8a2be2;
  --darkviolet:   #9400d3;
  /* green */
  --lightgreen:   #F9FFEA;
  --green:        #B9E66B;
  --darkgreen:    #84B63C;
  /* blue */
  --lightblue:    #EBF7FE;
  --blue:         #85C1F7;
  --darkblue:     #4487DF;
  /* yellow */
  --lightyellow:  #FEF9DE;
  --yellow:       #F9E179;
  --darkyellow:   #F1BD4C;
  /* orange */
  --lightorange:  #FFF7ED;
  --orange:       #F4C89C;
  --darkorange:   #E7815C;
  /* red */
  --lightred:     #FDF5F5;
  --red:          #F3ACAA;
  --darkred:      #E7615C;
  /* theme */
  --theme:        #2196F3;
  --no-effect:    #D1D1D1;
  --US:           #4487df;
  --Netural:      #f7d484;
  --USSR:         #fd4478;
  --early-war:    #03AACF;
  --mid-war:      #008AA2;
  --late-war:     #2B2E3D;
}

label {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.selectEnable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}


::-webkit-scrollbar {
  width: 20px;
  background: rgba(252, 221, 221, 1);
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
  box-shadow: inset 0 0 5px grey;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: plum;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  outline: 1px solid slategrey;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: palevioletred;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

*.hide {
  display: none !important;
}